.button {
  min-width: 200px;
  padding: 16px;
  margin-bottom: 32px;

  border: 3px solid gold;
  background: black;
  color: gold;
  outline: none;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;
}
